@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cantarell";
  src: url("/fonts/Cantarell-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Cantarell";
  src: url("/fonts/Cantarell-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Cantarell";
  src: url("/fonts/Cantarell-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

/* font-face {
  font-family: "Cantarell";
  src: url("/fonts/Cantarell-VF.otf") format("opentype");
  font-weight: 100 900;
}  */

body {
  font-family: Cantarell, Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --blue-1: #99c1f1;
    --blue-2: #62a0ea;
    --blue-3: #3584e4;
    --blue-4: #1c71d8;
    --blue-5: #1a5fb4;
    --green-1: #8ff0a4;
    --green-2: #57e389;
    --green-3: #33d17a;
    --green-4: #2ec27e;
    --green-5: #26a269;
    --yellow-1: #f9f06b;
    --yellow-2: #f8e45c;
    --yellow-3: #f6d32d;
    --yellow-4: #f5c211;
    --yellow-5: #e5a50a;
    --orange-1: #ffbe6f;
    --orange-2: #ffa348;
    --orange-3: #ff7800;
    --orange-4: #e66100;
    --orange-5: #c64600;
    --red-1: #f66151;
    --red-2: #ed333b;
    --red-3: #e01b24;
    --red-4: #c01c28;
    --red-5: #a51d2d;
    --purple-1: #dc8add;
    --purple-2: #c061cb;
    --purple-3: #9141ac;
    --purple-4: #813d9c;
    --purple-5: #613583;
    --brown-1: #cdab8f;
    --brown-2: #b5835a;
    --brown-3: #986a44;
    --brown-4: #865e3c;
    --brown-5: #63452c;
    --light-1: #ffffff;
    --light-2: #f6f5f4;
    --light-3: #deddda;
    --light-4: #c0bfbc;
    --light-5: #9a9996;
    --dark-1: #77767b;
    --dark-2: #5e5c64;
    --dark-3: #3d3846;
    --dark-4: #241f31;
    --dark-5: #000000;
    
    --background: #241f31;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 23% 16%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
